<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NeoHelp</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="/style/style.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
        integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
</head>

<body>



    <%- include('./partials/navbar')  %>

    <section class="despre-section1">
        <div class="section1-div">
            <h2>Despre NeoHelp</h2>
            <div class="despre-div">
                <div>
                    <h3>Importanţa persoanelor</h3>
                    <p>NeoHelp promovează dezvoltarea umană integrală, astfel încât oamenii din comunitățile cele mai defavorizate
                         să fie liberi să înflorească și să trăiască în pace și demnitate. Lucrăm pentru a ne asigura ca mediul nostru natural să fie
                          gestionat în mod responsabil și durabil în interesul întregii familii umane.</p>
                </div>
                <div>
                    <h3>Chemarea spre o lume mai bună</h3>
                    <p>NeoHelp caută o lume în care se aud și se acționează vocile săracilor. Aceasta este o lume în care femeile și bărbații din comunitățile
                         cele mai sărace și cele mai dezavantajate pot influența sistemele, deciziile și resursele care le afectează. Aceștia pot trăi apoi sub
                          guverne, instituții și structuri globale care sunt drepte și responsabile.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="despre-section2">
        <div class="despre-cover">
            <div class="section2-div">
                <h2>Viziunea noastră pe viitor</h2>
                <div class="viziune-div">
                    <div>
                        <div>

                            <h3>O abordare diferită</h3>
                            <p>Hrana pentru cei săraci este instrumentul lui Dumnezeu prin intermediul căruia îi putem ajuta pe cei 
                                săraci din punct de vedere material şi pentru a-i reînoi pe cei săraci în duh. Pentru îndrumare şi 
                                pentru a menţine puritatea misiunii noastre, subliniem necesitatea rugăciunii regulate. În cele din 
                                urmă, căutăm să aducem atât binefăcătorii, cât şi beneficiarii la o uniune mai strânsă cu Domnul nostru.</p>
                        </div>
                        <img src="/img/img1.png" alt="">
                    </div>
                    <div>
                        <img src="/img/img2.png" alt="">
                        <div>
                            <h3>Viziunea noastră</h3>
                            <p>NeoHelp se leagă într-o confederaţie pentru a servi populaţiile sărace, vulnerabile, deposedate şi marginalizate
                                ale lumii. NeoHelp oferă speranţe oamenilor defavorizaţi şi care trăiesc în sărăcie. Acest lucru permite femeilor şi bărbaţilor din
                                comunităţile cele mai sărace şi cele mai vulnerabile să supravieţuiască şi să recupereze din crize şi să trăiască într-un mediu sigur.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="despre-section3">

        <div class="section3-div">
            <h2>Despre creatorii NeoHelp</h2>
            <div class="creatori-div">

                <div class="part-creatori-div">
                    <div class="creator">
                        <div class="display-creatori">
                            <img src="/img/gabriela.jpg" alt="">
                            <div>
                                <p>Cămpean Garbiela</p>
                                <h4>"CTO"</h4>
                            </div>
                        </div>
                        <p>Faptul de a vedea o persoana fericită este un adevărat factor motivant pentru mine, iar experienţa mea tehnică
                            a fost un beneficiu pe care am putut să îl canalizez în acest scop, astfel împreună am reuşit să creăm această platformă 
                            destinată celor care doresc sa ofere ajutor şi sprijin. 
                        </p>

                    </div>
                    <div class="creator">
                        <div class="display-creatori">
                            <img src="/img/andrei.jpg" alt="">
                            <div>
                                <p>Oros Andrei</p>
                                <h4>"CEO"</h4>
                            </div>
                        </div>
                        <p>Cu o foarte mare dorinţă de a ajuta persoanele nevoiaşe şi cu experinţa acumulată în urma diferitlor actelor de caritate,
                            mi-am propus să creez aceasta unealtă orin intermediul căreia să pot ajuta cât mai multe persoane, iar astfel să pot avea
                            un adevărat impact pozitiv asupra societăţii.
                        </p>

                    </div>
                </div>
                <div class="part-creatori-div">
                    <div class="creator">
                        <div class="display-creatori">
                            <img src="/img/bogdan.jpg" alt="">
                            <div>
                                <p>Nistor Bogdan</p>
                                <h4>"COO"</h4>
                            </div>
                        </div>
                        <p>Când am auzit de ideea acestui proiect mi-am spus că acesta este momentul de a realiza ceva care să facă cu adevărat o diferenţă
                            în societatea persoanelor mai puţin norocoase. Împreună ne-am gândit cum să implementăm o modalitate cât mai simplă de a ajuta 
                            persoanele care necesită ajutor, iar rezultatul a fost conceperea unui sistem care să permită tuturora să vadă unde sunt localizate
                            persoanele nevoiaşe, şi anume o hartă cu locaţia acestora. </p>

                    </div>
                    <div class="creator">
                        <div class="display-creatori">
                            <img src="/img/cata.jpg" alt="">
                            <div>
                                <p>Sava Cătălin</p>
                                <h4>"CFO"</h4>
                            </div>
                        </div>
                        <p>Consider că în momentul în care am fost chemat să lucrez la acest proiect am primit o oportunitate foarte bună, ca pe lângă a realiza 
                            o platformă pentru a ajuta persoanele nevoiaşe, să transmit mesjul Domnului tuturor persoanelor care ajung să folosească această aplicaţie.
                            Alături de colegii mei avem ţelul de a creşte şi a dezvolta acest proiect îndeajuns de mult ca să avem un impact pozitiv în această epocă
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </section>



    <%- include('./partials/footer')  %>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous">
    </script>

    <script>
        $(".section2-div div:first-child p").each(function () {
            $(this).click(function () {




                if ($(this).hasClass("p-activ") || $(".section2-div div:first-child p").hasClass(
                        "p-activ")) {
                    $(".section2-div div:first-child p").removeClass("p-activ")
                    $(this).addClass("p-activ")

                    // if($(".section2-div div:nth-child(2) p")){

                    // }
                }


                if ($(".section2-div div:first-child p:nth-of-type(1)").hasClass("p-activ")) {
                    $(".section2-div div:nth-child(2) p").text(
                        "La fel cum colaborăm cu indivizi și alte grupuri bazate pe credință, ne străduim, de asemenea, săcolaborăm cu fundații corporative și private pentru a servi mai bine săracii. Dumneavoastră puteţi sprijini munca noastră de a-i ajuta pe cei săraci şi nevoiaşi prin acordarea unei subvenții de fundație sau altor ajutoare. De-a lungul anilor, mai multe fundații private și corporative au permis firmei noastre să administreze programe de ajutorare și dezvoltare, împreună cu inițiative proactive care îmbunătățesc viețile și ajută la ruperea ciclului sărăciei."
                    )
                }
                if ($(".section2-div div:first-child p:nth-of-type(2)").hasClass("p-activ")) {
                    $(".section2-div div:nth-child(2) p").text("bbb")
                }
                if ($(".section2-div div:first-child p:nth-of-type(3)").hasClass("p-activ")) {
                    $(".section2-div div:nth-child(2) p").text("ccc")
                }


            });

        });
    </script>


</body>

</html>